{% comment %} Why Buy Vidlogix popup modal - am {% endcomment %}

{% comment %} hide chat button for page inside popup {% endcomment %}
{% if template == 'page.why-buy' %}
  {% style %}
  #dummy-chat-button-iframe,
  #shopify-chat-dummy,
  #dummy-chat-button, 
  .chat-toggle { 
    display:none ;
    background-color:#ffffff00 ;
    color:#ffffff00 ;
    fill:#ffffff00 ;
  }
  {% endstyle %}
{% endif %}

{%- if section.settings.mode != 'disabled' -%}

<div class="why-buy-popup">
  <div
    id="NewsletterPopup-{{ section.id }}"
    class="modal modal--square modal--mobile-friendly"
    data-section-id="{{ section.id }}"
    data-section-type="newsletter-popup"
    data-test-mode="{% if section.settings.mode == 'testing' %}true{% else %}false{% endif %}">
    <div class="modal__inner">
      <div class="modal__centered medium-up--text-center">
        <div class="modal__centered-content">
          <div class="newsletter">
            <!-- https://www.vidlogix.com/pages/why-buy-vidlogix -->
            <iframe src="{{ section.settings.page_link }}" class="why-buy-page"
              allow="fullscreen" height="500">
            </iframe>
          </div>
        </div>

        <button type="button" class="modal__close js-modal-close text-link">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
          <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

{%- endif -%}

{% schema %}
  {
    "name": "Why Buy Popup",
    "class": "index-section--hidden",
    "settings": [
      {
        "type": "select",
        "id": "mode",
        "label": "Display mode",
        "default": "testing",
        "options": [
          {
            "value": "enabled",
            "label": "Enabled"
          },
          {
            "value": "testing",
            "label": "Test mode"
          },
          {
            "value": "disabled",
            "label": "Disabled"
          }
        ],
        "info": "Test mode displays your popup each time even after dismissing it. Switch to Enabled once you are happy with how your popup looks."
      },
      {
        "type": "url",
        "id": "page_link",
        "label": "Page Link",
        "info": "This is the url for the page to be loaded in the popup."
      }
    ],
    "blocks": []
  }
{% endschema %}
